/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Source Sans Pro', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Source Sans Pro', sans-serif;
}
h1 {
  font-size: 4rem;
  font-weight: 700;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
  font-weight: 700;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
a:visited {
  color: #263A59;
}
.header-wrapper {
  background-color: #deded8;
  position: fixed;
  width: 100%;
}
.header-wrapper header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}
@media (max-width: 768px) {
  .header-wrapper header {
    height: 80px;
  }
}
.header-wrapper header .nav-wrapper {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  color: #263A59;
  text-decoration: none;
  height: 80px;
}
.header-wrapper header .nav-wrapper .main-nav {
  width: 50%;
}
.header-wrapper header .nav-wrapper ul#myLinks {
  display: flex;
  justify-content: space-around;
  width: 100%;
  color: #263A59;
}
.header-wrapper header .nav-wrapper ul#myLinks a {
  font-weight: 600;
  font-size: 1.8rem;
}
.header-wrapper header .nav-wrapper ul#myLinks a:visited {
  color: #263A59;
}
.header-wrapper header .nav-wrapper ul#myLinks a:hover {
  color: #E42127;
}
.header-wrapper header .nav-wrapper a {
  text-decoration: none;
  justify-content: space-around;
  font-size: 1.5rem;
}
@media (max-width: 768px) {
  .nav-wrapper {
    display: flex;
    width: 100%;
  }
  .header-wrapper header .nav-wrapper .main-nav {
    width: 100%;
  }
  .main-nav {
    display: none;
    position: absolute;
    width: 100%;
    height: calc(120vh - 50px);
    background: #575972;
    top: 50px;
    left: 0;
    transition: 0.5%;
    flex-direction: column;
  }
  .main-nav.toggleCls {
    display: flex;
    flex-direction: column;
    height: 245px;
    margin-top: 30px;
    width: 100%;
  }
  #myLinks {
    display: flex;
    flex-direction: column;
    height: 180px;
    padding: 5%;
    color: white;
    line-height: 3;
    align-items: center;
  }
  .header-wrapper header .nav-wrapper ul#myLinks a:visited {
    color: white;
    margin-top: 5px;
    text-align: center;
  }
  .header-wrapper header .nav-wrapper ul#myLinks a:hover {
    color: #E46428;
  }
  a:link {
    color: white;
  }
  a:visted {
    color: white;
  }
  a:active {
    color: #E46428;
  }
}
.header-wrapper header .nav-wrapper ul#myLinks {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}
.hamIcon {
  float: right;
  line-height: 50px;
  font-size: 2rem;
  cursor: pointer;
  display: block;
}
@media (min-width: 769px) {
  .hamIcon {
    display: none;
  }
  .main-nav {
    display: initial;
  }
}
.footer-content-wrapper {
  background-color: #263A59;
  border-top: 2px solid white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media (max-width: 500px) {
  .footer-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 500px) {
  .footer-content-wrapper div.contact-img {
    text-align: center;
    width: 100%;
  }
}
#footer-left {
  color: white;
  width: 30%;
  padding: 3% 5%;
}
@media (max-width: 500px) {
  #footer-left {
    width: 100%;
    align-items: center;
    text-align: center;
  }
  #footer-left img {
    text-align: center;
  }
}
#footer-left p {
  font-size: 1.6rem;
}
@media (max-width: 500px) {
  #footer-left p {
    font-size: 1.3rem;
  }
}
#footer-middle {
  width: 20%;
  padding: 1%;
}
#footer-right {
  padding: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 50%;
  text-align: center;
}
#footer-right a {
  display: flex;
  color: white;
  text-decoration: none;
  padding: 5%;
  line-height: 1.5;
  font-size: 1.5rem;
}
#footer-right a:hover {
  color: #E46428;
}
#footer-right .footer-link-mid {
  width: 30%;
}
@media (max-width: 500px) {
  #footer-right {
    display: flex;
    align-items: center;
    width: 80%;
  }
}
.footer-link-right {
  width: 35%;
}
div.contact-img {
  width: 60%;
  margin-bottom: 20px;
}
.bottom {
  background-color: #263A59;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  width: 100%;
  text-align: center;
}
.bottom #social-copyright {
  width: 100%;
  display: flex;
  align-items: center;
}
.bottom #social-copyright .contact-icons {
  color: white;
  font-size: 2rem;
  flex-direction: row;
  justify-content: space-evenly;
  width: 50%;
}
.bottom #social-copyright .contact-icons i {
  padding: 5%;
  text-align: center;
  font-size: 3rem;
}
.bottom #social-copyright .copyright {
  display: flex;
  color: white;
}
.bottom #social-copyright .copyright h6 {
  font-size: 1.5rem;
}
.bottom #social-copyright .copyright #copyright {
  color: #E42127;
  font-size: 2rem;
  width: 100%;
  text-align: center;
}
@media (max-width: 500px) {
  .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
.hero {
  background-image: linear-gradient(to top, rgba(114, 115, 116, 0.475), #ffffff), url('../images/dirtroad2.jpg');
  background-repeat: no-repeat;
  background-position: left center;
  background-attachment: fixed;
  padding: 5%;
  display: flex;
  flex-direction: column;
  height: 600px;
}
@media (max-width: 500px) {
  #what-wrapper {
    display: flex;
    flex-direction: column-reverse;
  }
}
.what-is-content {
  text-align: center;
  margin: 0 3%;
}
.what-is-content h1 {
  margin: 5% 3% 2% 3%;
  color: #263A59;
}
.what-is-flex-parent {
  display: flex;
  justify-content: space-around;
  margin: 5% 3% 2% 3%;
}
@media (max-width: 500px) {
  .what-is-flex-parent {
    flex-direction: column;
    width: 90%;
  }
}
.what-is-flex-parent .responsive {
  width: 30%;
}
@media (max-width: 500px) {
  .what-is-flex-parent .responsive {
    flex-direction: column;
    width: 100%;
  }
}
.what-is-flex-parent .responsive h2 {
  text-align: center;
  margin-bottom: 3%;
  color: #E46428;
}
.what-is-flex-parent .responsive p {
  text-align: center;
}
.what-is-flex-parent .safe {
  width: 30%;
  height: 100%;
}
@media (max-width: 500px) {
  .what-is-flex-parent .safe {
    flex-direction: column;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}
.what-is-flex-parent .safe h2 {
  text-align: center;
  margin-bottom: 3%;
  color: #E46428;
}
.what-is-flex-parent .safe p {
  text-align: center;
}
.what-is-flex-parent .easy {
  width: 30%;
}
@media (max-width: 500px) {
  .what-is-flex-parent .easy {
    flex-direction: column;
    width: 100%;
  }
}
.what-is-flex-parent .easy h2 {
  text-align: center;
  margin-bottom: 3%;
  color: #E46428;
}
.what-is-flex-parent .easy p {
  text-align: center;
}
#what-images {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media (max-width: 500px) {
  #what-images img:nth-child(1) {
    display: none;
  }
  #what-images img:nth-child(3) {
    display: none;
  }
  #what-images img:nth-child(2) {
    width: 80%;
  }
}
#what-images img {
  width: 25%;
  height: auto;
  border-radius: 10px;
}
.signup-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5% 0 0 0;
}
@media (max-width: 500px) {
  .signup-wrapper {
    flex-direction: column;
    width: 100%;
  }
}
.signup-wrapper .driver {
  width: 50%;
  background-color: #E42127;
  color: white;
  font-weight: 700;
  height: 275px;
  text-align: center;
  padding: 2% 0;
  border-right: 2px solid white;
}
@media (max-width: 500px) {
  .signup-wrapper .driver {
    flex-direction: column;
    width: 100%;
    border-bottom: 2px solid white;
    border-right: none;
  }
}
.signup-wrapper .driver h2 {
  margin-bottom: 2%;
}
.signup-wrapper .driver p {
  font-weight: 400;
  font-size: 1.8rem;
}
.signup-wrapper .driver button {
  height: 35%;
  width: 50%;
  font-size: 2rem;
  background-color: white;
  border: none;
  border-radius: 5px;
  color: #263A59;
  padding: 15px 32px;
  text-decoration: none;
  font-weight: 700;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  padding: 3%;
  width: 40%;
  vertical-align: middle;
  text-align: center;
  line-height: 5px;
}
.signup-wrapper .driver button:hover {
  background-color: #263A59;
  color: white;
}
.signup-wrapper .driver h2 {
  text-align: center;
}
.signup-wrapper .rider {
  padding: 2% 0;
  width: 50%;
  background-color: #E46428;
  color: white;
  font-weight: 700;
  height: 275px;
  text-align: center;
}
@media (max-width: 500px) {
  .signup-wrapper .rider {
    flex-direction: column;
    width: 100%;
  }
}
.signup-wrapper .rider h2 {
  margin-bottom: 2%;
}
.signup-wrapper .rider p {
  font-weight: 400;
  font-size: 1.8rem;
}
.signup-wrapper .rider button {
  height: 35%;
  width: 50%;
  font-size: 2rem;
  background-color: white;
  border: none;
  border-radius: 5px;
  color: #263A59;
  padding: 15px 32px;
  text-decoration: none;
  font-weight: 700;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  padding: 3%;
  width: 40%;
  vertical-align: middle;
  text-align: center;
  line-height: 5px;
}
.signup-wrapper .rider button:hover {
  background-color: #263A59;
  color: white;
}
.signup-wrapper .rider h2 {
  text-align: center;
}
.rider-hero-wrapper {
  background-image: url('../images/african-woman.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 5%;
  display: flex;
  flex-direction: column;
  height: 800px;
  width: 100%;
}
.rider-hero-wrapper .mobile-background {
  display: none;
}
@media (max-width: 500px) {
  .rider-hero-wrapper {
    background-image: none;
    padding: 0%;
  }
}
.hero-text {
  direction: flex;
  width: 50%;
  background-color: white;
  height: 600px;
  margin-top: 20px;
  padding: 3%;
}
@media (max-width: 768px) {
  .hero-text {
    width: 100%;
    padding: 5%;
    margin-top: 80px;
  }
}
.hero-text h1 {
  color: #E46428;
}
.hero-text h2 {
  font-weight: 400;
  color: #575972;
}
@media (max-width: 500px) {
  .hero-text {
    width: 100%;
    padding: 5%;
    margin-top: 80px;
  }
}
.buttons {
  justify-content: center;
  align-items: center;
  width: 100%;
}
.buttons .orange-button-rider {
  float: left;
  height: 80px;
  width: 40%;
  font-size: 2rem;
  background-color: #E46428;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.buttons .orange-button-rider:hover {
  background-color: #263A59;
  color: white;
}
.buttons .slate-button-rider {
  height: 80px;
  width: 40%;
  font-size: 2rem;
  background-color: #575972;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  float: right;
}
.buttons .slate-button-rider:hover {
  background-color: #E46428;
  color: white;
}
@media (max-width: 500px) {
  .rider-hero-wrapper .mobile-background {
    display: flex;
    width: 100%;
  }
}
@media (max-width: 500px) {
  margin-top: 100px;
}
.rider-heading-1 h1 {
  color: #E46428;
  margin: 2% 5%;
}
@media (max-width: 500px) {
  .rider-heading-1 {
    margin-top: 100px;
  }
}
.rider-top-parent {
  display: flex;
  justify-content: space-around;
  height: 400px;
  padding: 5%;
  align-items: center;
}
@media (max-width: 500px) {
  .rider-top-parent {
    display: flex;
    flex-direction: column;
  }
}
.rider-top-parent .rider-top-text {
  color: #263A59;
  max-height: auto;
  width: 100%;
  padding: 1%;
  margin-top: 40px;
}
.rider-top-parent .rider-top-text h1 {
  color: #E46428;
}
.rider-top-parent .rider-top-text p {
  font-size: 1.8rem;
  padding: 0%;
}
@media (max-width: 500px) {
  .rider-top-parent .rider-top-text p {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .rider-top-parent .rider-top-text {
    max-width: 500px;
    justify-content: center;
    border-radius: 0px;
  }
}
.rider-top-parent .rider-top-img img {
  border-radius: 15px;
  display: block;
  width: 85%;
  height: auto;
}
@media (max-width: 500px) {
  .rider-top-parent .rider-top-img {
    display: none;
  }
}
.rider-bottom-section {
  background-color: #E46428;
  height: auto;
  display: flex;
  align-items: center;
}
@media (max-width: 500px) {
  .rider-bottom-section {
    display: flex;
    flex-direction: column;
    margin-top: -15px;
  }
}
.rider-bottom-parent {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
@media (max-width: 500px) {
  .rider-bottom-parent {
    display: flex;
    flex-direction: column;
  }
}
.rider-bottom-text {
  width: 40%;
}
@media (max-width: 500px) {
  .rider-bottom-text {
    width: 80%;
    text-align: center;
  }
}
.rider-bottom-text h1 {
  color: white;
  margin: 2% 5%;
}
.rider-bottom-text p {
  color: white;
  margin: 10% 7%;
  font-size: 1.8rem;
}
@media (max-width: 500px) {
  .rider-bottom-text p {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
  }
}
.rider-bottom-img img {
  border-radius: 15px;
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
@media (max-width: 500px) {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
}
@media (max-width: 500px) {
  .rider-bottom-parent .rider-bottom-img img {
    width: 100%;
    text-align: center;
    border-radius: 0px;
  }
}
.four-col {
  display: flex;
  overflow: hidden;
}
@media (max-width: 500px) {
  .four-col {
    display: flex;
    flex-wrap: wrap;
  }
}
.four-col .team-member {
  margin-top: 80px;
  float: left;
  width: 25%;
}
@media (max-width: 500px) {
  .four-col .team-member {
    width: 50%;
    margin-top: 0px;
  }
  .four-col .team-member #st {
    margin-top: 80px;
  }
  .four-col .team-member #ak {
    margin-top: 80px;
  }
}
.feature {
  display: block;
  width: 100%;
}
.feature-title-inner {
  display: flex;
  flex-direction: column;
}
.feature-title2 {
  background-color: #E46428;
  height: 120px;
}
.feature-title2 .feature-title-inner {
  padding: 5%;
  color: white;
  background-color: #E42127;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}
.feature-title2 .feature-title-inner .job-title {
  font-size: 1.5rem;
  font-weight: 400;
}
.feature-title {
  background-color: #E42127;
  height: 120px;
}
.feature-title .feature-title-inner {
  padding: 5%;
  color: white;
  background-color: #E46428;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}
.feature-title .feature-title-inner .job-title {
  font-size: 1.5rem;
  font-weight: 400;
}
.dev-icons {
  margin-top: 1%;
  font-size: 2rem;
  display: flex;
  justify-content: center;
}
.dev-icons a {
  color: white;
}
.dev-icons a:hover {
  color: #263A59;
}
.about-wrapper h1 {
  text-align: center;
  color: #E46428;
  padding: 3% 10% 1% 10%;
}
.about-wrapper p {
  padding: 0 20% 3% 20%;
  text-align: center;
}
.driver-hero-wrapper {
  background-image: url('../images/african-driver.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 5%;
  display: flex;
  flex-direction: column;
  height: 800px;
}
@media (max-width: 500px) {
  .driver-hero-wrapper .driver-hero-text {
    margin-top: 15%;
    display: block;
    width: 100%;
    text-align: center;
  }
}
.driver-hero-wrapper .driver-mobile-background {
  display: none;
}
@media (max-width: 500px) {
  .driver-hero-wrapper {
    background-image: none;
  }
}
@media (max-width: 500px) {
  .driver-hero-wrapper .driver-mobile-background {
    display: flex;
    width: 100%;
    margin-top: 10%;
  }
}
.hero-text-driver {
  direction: flex;
  width: 45%;
  background-color: white;
  height: 600px;
  margin-top: 20px;
  padding: 3%;
}
@media (max-width: 500px) {
  .hero-text-driver {
    width: 100%;
    margin-top: 20%;
    text-align: center;
  }
}
.hero-text-driver h1 {
  color: #E42127;
}
.hero-text-driver h2 {
  font-weight: 400;
  color: #575972;
}
button {
  height: 80px;
  width: 45%;
  font-size: 2rem;
  background-color: #E42127;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
button:hover {
  background-color: #263A59;
  color: white;
}
.slate-button {
  float: left;
  height: 80px;
  width: 40%;
  font-size: 2rem;
  background-color: #575972;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.slate-button:hover {
  background-color: #E42127;
  color: white;
}
.driver-heading-1 h1 {
  color: #E42127;
  margin: 2% 5%;
}
@media (max-width: 500px) {
  .driver-heading-1 h1 {
    margin-top: 40%;
    text-align: center;
    color: #263A59;
  }
}
.driver-top-parent {
  display: flex;
  justify-content: space-around;
  height: 350px;
}
@media (max-width: 500px) {
  .driver-top-parent {
    flex-direction: column-reverse;
    margin-top: 8%;
  }
}
.driver-top-parent .driver-top-text {
  color: white;
  border-radius: 15px;
  max-width: 350px;
  max-height: 350px;
  background-color: #575972;
}
@media (max-width: 500px) {
  .driver-top-parent .driver-top-text {
    max-width: 500px;
    background-color: #E42127;
  }
}
.driver-top-parent .driver-top-text p {
  font-size: 1.8rem;
  padding: 7%;
}
.driver-top-parent .driver-top-img img {
  border-radius: 15px;
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
@media (max-width: 500px) {
  .driver-top-parent .driver-top-img img {
    display: none;
  }
}
.driver-bottom-section {
  background-color: #E42127;
}
@media (max-width: 500px) {
  .driver-bottom-section {
    background-color: white;
  }
}
.driver-bottom-section .driver-heading-2 h1 {
  color: white;
  margin: 2% 5%;
  padding-top: 3%;
}
@media (max-width: 500px) {
  .driver-bottom-section .driver-heading-2 h1 {
    color: #263A59;
    text-align: center;
    padding: 0;
    margin-top: -5%;
  }
}
.driver-bottom-parent {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
@media (max-width: 500px) {
  .driver-bottom-parent {
    flex-direction: column-reverse;
  }
}
.driver-bottom-parent .driver-bottom-text {
  width: 40%;
  margin-top: 5%;
}
@media (max-width: 500px) {
  .driver-bottom-parent .driver-bottom-text {
    width: 100%;
    background-color: red;
    border-radius: 15px;
    margin: 15% 0;
    padding: 6% 0;
  }
}
.driver-bottom-parent .driver-bottom-text p {
  color: white;
  margin: 0 7%;
  font-size: 1.6rem;
}
.driver-bottom-parent .driver-bottom-img img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  border-radius: 15px;
}
@media (max-width: 500px) {
  .driver-bottom-parent .driver-bottom-img img {
    width: 100%;
    margin-top: 8%;
  }
}
.about-hero-wrapper {
  background-image: url("../images/city.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 5%;
  display: flex;
  flex-direction: column;
  height: 800px;
}
@media (max-width: 500px) {
  .about-hero-wrapper .about-hero-text {
    margin-top: 15%;
    display: block;
    width: 100%;
    text-align: center;
  }
}
.about-hero-wrapper .about-mobile-background {
  display: none;
}
@media (max-width: 500px) {
  .about-hero-wrapper {
    background-image: none;
  }
}
@media (max-width: 500px) {
  .about-hero-wrapper .about-mobile-background {
    display: flex;
    width: 100%;
  }
}
.about-hero-text {
  direction: flex;
  width: 50%;
  background-color: white;
  height: 700px;
  margin-top: 30px;
  padding: 3%;
}
.about-hero-text h1 {
  color: #E42127;
}
.about-hero-text h2 {
  font-weight: 400;
  color: #575972;
}
.about-heading-1 h1 {
  color: #263A59;
  margin: 2% 5%;
}
@media (max-width: 500px) {
  .about-heading-1 {
    margin-top: 40%;
    margin-bottom: 20%;
    text-align: center;
  }
}
.about-top-parent {
  background-color: #E46428;
  display: flex;
  justify-content: space-around;
  height: 350px;
}
@media (max-width: 500px) {
  .about-top-parent {
    background-color: white;
    flex-direction: column-reverse;
    margin-top: 15%;
  }
}
.about-top-parent img {
  border-radius: 15px;
}
@media (max-width: 500px) {
  .about-top-parent img {
    width: 100%;
    margin-bottom: 10%;
  }
}
.about-top-parent .about-top-text {
  color: white;
  border-radius: 15px;
  max-width: 350px;
  max-height: 350px;
  background-color: #263A59;
  font-size: 2rem;
  padding: 5% 2% 0 2%;
}
@media (max-width: 500px) {
  .about-top-parent .about-top-text {
    max-width: 500px;
    margin-top: 55%;
    background-color: #E46428;
    text-align: center;
    margin-bottom: 10%;
  }
}
.about-heading-2 h1 {
  color: #263A59;
  margin: 2% 5%;
  padding-top: 3%;
}
@media (max-width: 500px) {
  .about-heading-2 h1 {
    margin-top: 65%;
    text-align: center;
  }
}
.about-bottom-parent {
  background-color: #E46428;
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 50px;
}
@media (max-width: 500px) {
  .about-bottom-parent {
    margin-top: 10%;
    background-color: white;
  }
}
.about-bottom-parent .about-bottom-text {
  color: #263A59;
  border-radius: 15px;
  max-width: 350px;
  max-height: 350px;
  background-color: #263A59;
  font-size: 2rem;
  padding: 5% 2% 0 2%;
}
@media (max-width: 500px) {
  .about-bottom-parent .about-bottom-text {
    background-color: #E46428;
    max-width: 500px;
    padding: 6% 0;
  }
}
.about-bottom-parent .about-bottom-text p {
  color: white;
  margin: 0 7%;
  font-size: 1.6rem;
}
.about-bottom-parent .about-bottom-img img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  border-radius: 15px;
}
@media (max-width: 500px) {
  .about-bottom-parent .about-bottom-img {
    display: none;
  }
}
