/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Source Sans Pro', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Source Sans Pro', sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
.header-wrapper {
  background-color: #deded8;
  position: fixed;
  width: 100%;
}
.header-wrapper header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}
.header-wrapper header .nav-wrapper {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  color: #263A59;
  text-decoration: none;
  height: 80px;
}
.header-wrapper header .nav-wrapper nav {
  display: flex;
  justify-content: space-around;
  width: 50%;
  color: #263A59;
}
.header-wrapper header .nav-wrapper nav a {
  font-weight: 600;
  font-size: 1.8rem;
}
.header-wrapper header .nav-wrapper nav a:visited {
  color: #263A59;
}
.header-wrapper header .nav-wrapper nav a:hover {
  color: #E42127;
}
.header-wrapper header .nav-wrapper a {
  text-decoration: none;
  font-size: 1.5rem;
}
@media (max-width: 500px) {
  .header-wrapper header {
    flex-direction: column;
  }
}
.hero {
  background-image: linear-gradient(to top, rgba(114, 115, 116, 0.475), #ffffff), url("/images/dirtroad2.jpg");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-attachment: fixed;
  padding: 5%;
  display: flex;
  flex-direction: column;
  height: 600px;
}
.what-is-content {
  text-align: center;
  margin: 0 3%;
}
.what-is-content h1 {
  margin: 5% 0;
  color: #263A59;
}
.what-is-img {
  display: flex;
  justify-content: space-around;
  margin: 5% 3%;
}
.what-is-img .responsive {
  width: 30%;
}
.what-is-img .responsive h2 {
  text-align: center;
  margin-bottom: 3%;
  color: #E46428;
}
.what-is-img .responsive p {
  text-align: center;
}
.what-is-img .responsive img {
  height: 428px;
  width: 350px;
}
.what-is-img .safe {
  width: 30%;
}
.what-is-img .safe h2 {
  text-align: center;
  margin-bottom: 3%;
  color: #E46428;
}
.what-is-img .safe p {
  text-align: center;
}
.what-is-img .easy {
  width: 30%;
}
.what-is-img .easy h2 {
  text-align: center;
  margin-bottom: 3%;
  color: #E46428;
}
.what-is-img .easy p {
  text-align: center;
}
