/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Source Sans Pro', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Source Sans Pro', sans-serif;
}
h1 {
  font-size: 4rem;
  font-weight: 700;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
  font-weight: 700;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
a:visited {
  color: #263A59;
}
.header-wrapper {
  background-color: #deded8;
  position: fixed;
  width: 100%;
}
.header-wrapper header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}
@media (max-width: 768px) {
  .header-wrapper header {
    height: 80px;
  }
}
.header-wrapper header .nav-wrapper {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  color: #263A59;
  text-decoration: none;
  height: 80px;
}
.header-wrapper header .nav-wrapper .main-nav {
  width: 50%;
}
.header-wrapper header .nav-wrapper ul#myLinks {
  display: flex;
  justify-content: space-around;
  width: 100%;
  color: #263A59;
}
.header-wrapper header .nav-wrapper ul#myLinks a {
  font-weight: 600;
  font-size: 1.8rem;
}
.header-wrapper header .nav-wrapper ul#myLinks a:visited {
  color: #263A59;
}
.header-wrapper header .nav-wrapper ul#myLinks a:hover {
  color: #E42127;
}
.header-wrapper header .nav-wrapper a {
  text-decoration: none;
  justify-content: space-around;
  font-size: 1.5rem;
}
@media (max-width: 768px) {
  .nav-wrapper {
    display: flex;
    width: 100%;
  }
  .header-wrapper header .nav-wrapper .main-nav {
    width: 100%;
  }
  .main-nav {
    display: none;
    position: absolute;
    width: 100%;
    height: calc(120vh - 50px);
    background: #575972;
    top: 50px;
    left: 0;
    transition: 0.5%;
    flex-direction: column;
  }
  .main-nav.toggleCls {
    display: flex;
    flex-direction: column;
    height: 245px;
    margin-top: 30px;
    width: 100%;
  }
  #myLinks {
    display: flex;
    flex-direction: column;
    height: 180px;
    padding: 5%;
    color: white;
    line-height: 3;
    align-items: center;
  }
  .header-wrapper header .nav-wrapper ul#myLinks a:visited {
    color: white;
    margin-top: 5px;
    text-align: center;
  }
  .header-wrapper header .nav-wrapper ul#myLinks a:hover {
    color: #E46428;
  }
}
.header-wrapper header .nav-wrapper ul#myLinks {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}
.hamIcon {
  float: right;
  line-height: 50px;
  font-size: 2rem;
  cursor: pointer;
  display: block;
}
@media (min-width: 769px) {
  .hamIcon {
    display: none;
  }
  .main-nav {
    display: initial;
  }
}
footer {
  background-color: #263A59;
  border-top: 2px solid white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 400px;
}
@media (max-width: 500px) {
  footer {
    display: flex;
    flex-direction: column;
  }
}
footer .contact-text {
  color: white;
  width: 30%;
  padding: 6.5% 5%;
}
footer .contact-text p {
  font-size: 2rem;
}
@media (max-width: 500px) {
  footer .contact-text p {
    font-size: 1.5rem;
  }
}
footer .contact-img {
  width: 30%;
}
footer .contact-img img {
  margin: 10% 20% 0 0;
}
footer .contact-icons {
  width: 30%;
  margin-top: 3%;
}
footer .contact-icons i {
  font-size: 3rem;
  color: white;
  margin: 15% 5%;
  padding: 2%;
}
footer .copyright {
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
}
.footer-link {
  display: block;
  width: 100%;
  text-align: center;
  margin: 2%;
}
.footer-link a {
  text-decoration: none;
  color: #263A59;
  font-size: 2rem;
  padding: 0 10%;
}
.footer-link a:visited {
  color: #263A59;
}
.footer-link a:hover {
  color: #E42127;
}
.hero {
  background-image: linear-gradient(to top, rgba(114, 115, 116, 0.475), #ffffff), url("/images/dirtroad2.jpg");
  background-repeat: no-repeat;
  background-position: left center;
  background-attachment: fixed;
  padding: 5%;
  display: flex;
  flex-direction: column;
  height: 600px;
}
.what-is-content {
  text-align: center;
  margin: 0 3%;
}
.what-is-content h1 {
  margin: 5% 3% 2% 3%;
  color: #263A59;
}
.what-is-flex-parent {
  display: flex;
  justify-content: space-around;
  margin: 5% 3% 2% 3%;
}
@media (max-width: 500px) {
  .what-is-flex-parent {
    flex-direction: column;
    width: 90%;
  }
}
.what-is-flex-parent .responsive {
  width: 30%;
}
@media (max-width: 500px) {
  .what-is-flex-parent .responsive {
    flex-direction: column;
    width: 100%;
  }
}
.what-is-flex-parent .responsive h2 {
  text-align: center;
  margin-bottom: 3%;
  color: #E46428;
}
.what-is-flex-parent .responsive p {
  text-align: center;
}
.what-is-flex-parent .safe {
  width: 30%;
  height: 100%;
}
@media (max-width: 500px) {
  .what-is-flex-parent .safe {
    flex-direction: column;
    width: 100%;
  }
}
.what-is-flex-parent .safe h2 {
  text-align: center;
  margin-bottom: 3%;
  color: #E46428;
}
.what-is-flex-parent .safe p {
  text-align: center;
}
.what-is-flex-parent .easy {
  width: 30%;
}
@media (max-width: 500px) {
  .what-is-flex-parent .easy {
    flex-direction: column;
    width: 100%;
  }
}
.what-is-flex-parent .easy h2 {
  text-align: center;
  margin-bottom: 3%;
  color: #E46428;
}
.what-is-flex-parent .easy p {
  text-align: center;
}
#what-images {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#what-images img {
  width: 25%;
  border-radius: 10px;
}
.signup-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5% 0 0 0;
}
@media (max-width: 500px) {
  .signup-wrapper {
    flex-direction: column;
    width: 100%;
  }
}
.signup-wrapper .driver {
  width: 50%;
  background-color: #E42127;
  color: white;
  font-weight: 700;
  height: 275px;
  text-align: center;
  padding: 2% 0;
  border-right: 2px solid white;
}
@media (max-width: 500px) {
  .signup-wrapper .driver {
    flex-direction: column;
    width: 100%;
    border-bottom: 2px solid white;
    border-right: none;
  }
}
.signup-wrapper .driver h2 {
  margin-bottom: 2%;
}
.signup-wrapper .driver p {
  font-weight: 400;
  font-size: 1.8rem;
}
.signup-wrapper .driver button {
  height: 35%;
  width: 50%;
  font-size: 2rem;
  background-color: white;
  border: none;
  border-radius: 5px;
  color: #263A59;
  padding: 15px 32px;
  text-decoration: none;
  font-weight: 700;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  padding: 3%;
  width: 40%;
  vertical-align: middle;
  text-align: center;
  line-height: 5px;
}
.signup-wrapper .driver button:hover {
  background-color: #263A59;
  color: white;
}
.signup-wrapper .driver h2 {
  text-align: center;
}
.signup-wrapper .rider {
  padding: 2% 0;
  width: 50%;
  background-color: #E46428;
  color: white;
  font-weight: 700;
  height: 275px;
  text-align: center;
}
@media (max-width: 500px) {
  .signup-wrapper .rider {
    flex-direction: column;
    width: 100%;
  }
}
.signup-wrapper .rider h2 {
  margin-bottom: 2%;
}
.signup-wrapper .rider p {
  font-weight: 400;
  font-size: 1.8rem;
}
.signup-wrapper .rider button {
  height: 35%;
  width: 50%;
  font-size: 2rem;
  background-color: white;
  border: none;
  border-radius: 5px;
  color: #263A59;
  padding: 15px 32px;
  text-decoration: none;
  font-weight: 700;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  padding: 3%;
  width: 40%;
  vertical-align: middle;
  text-align: center;
  line-height: 5px;
}
.signup-wrapper .rider button:hover {
  background-color: #263A59;
  color: white;
}
.signup-wrapper .rider h2 {
  text-align: center;
}
.rider-hero-wrapper {
  background-image: url("/images/african-woman.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 5%;
  display: flex;
  flex-direction: column;
  height: 800px;
  width: 100%;
}
.hero-text {
  direction: flex;
  width: 45%;
  background-color: white;
  height: 600px;
  margin-top: 20px;
  padding: 3%;
}
.hero-text h1 {
  color: #E46428;
}
.hero-text h2 {
  font-weight: 400;
  color: #575972;
}
.orange-button-rider {
  height: 80px;
  width: 45%;
  font-size: 2rem;
  background-color: #E46428;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.orange-button-rider:hover {
  background-color: #263A59;
  color: white;
}
.slate-button-rider {
  height: 80px;
  width: 45%;
  font-size: 2rem;
  background-color: #575972;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.slate-button-rider:hover {
  background-color: #E46428;
  color: white;
}
.four-col {
  display: flex;
  overflow: hidden;
}
@media (max-width: 500px) {
  .four-col {
    display: flex;
    flex-wrap: wrap;
  }
}
.four-col .team-member {
  margin-top: 80px;
  float: left;
  width: 25%;
}
@media (max-width: 500px) {
  .four-col .team-member {
    width: 50%;
    margin-top: 0px;
  }
  .four-col .team-member #st {
    margin-top: 80px;
  }
  .four-col .team-member #ak {
    margin-top: 80px;
  }
}
.feature {
  display: block;
  width: 100%;
}
.feature-title-inner {
  display: flex;
  flex-direction: column;
}
.feature-title2 {
  background-color: #E46428;
  height: 120px;
}
.feature-title2 .feature-title-inner {
  padding: 5%;
  color: white;
  background-color: #E42127;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}
.feature-title2 .feature-title-inner .job-title {
  font-size: 1.5rem;
  font-weight: 400;
}
.feature-title {
  background-color: #E42127;
  height: 120px;
}
.feature-title .feature-title-inner {
  padding: 5%;
  color: white;
  background-color: #E46428;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}
.feature-title .feature-title-inner .job-title {
  font-size: 1.5rem;
  font-weight: 400;
}
.dev-icons {
  margin-top: 1%;
  font-size: 2rem;
  display: flex;
  justify-content: center;
}
.dev-icons a {
  color: white;
}
.dev-icons a:hover {
  color: #263A59;
}
.about-wrapper h1 {
  text-align: center;
  color: #E46428;
  padding: 3% 10% 1% 10%;
}
.about-wrapper p {
  padding: 0 20% 3% 20%;
  text-align: center;
}
.driver-hero-wrapper {
  background-image: url("/images/african-driver.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 5%;
  display: flex;
  flex-direction: column;
  height: 800px;
}
.hero-text-driver {
  direction: flex;
  width: 45%;
  background-color: white;
  height: 600px;
  margin-top: 20px;
  padding: 3%;
}
.hero-text-driver h1 {
  color: #E42127;
}
.hero-text-driver h2 {
  font-weight: 400;
  color: #575972;
}
button {
  height: 80px;
  width: 45%;
  font-size: 2rem;
  background-color: #E42127;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
button:hover {
  background-color: #263A59;
  color: white;
}
.slate-button {
  height: 80px;
  width: 45%;
  font-size: 2rem;
  background-color: #575972;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.slate-button:hover {
  background-color: #E42127;
  color: white;
}
