

.four-col{
   
    display: flex;
    width: 100%;

    .team-member{
        margin-top: 60px;
        display: flex;
        flex-direction: column;
    }

    

    .feature-title-inner {
        display: flex;
        flex-direction: column;
    }
}

.feature-title2 {
    background-color: @orange;
    height: 120px;

    .feature-title-inner{
        padding: 5%;
        color: white;
        font-size: 3rem;
        font-weight: 700;
        text-align: center;

        .job-title{
            font-size: 2rem;
            font-weight: 400;
        }
    }
}

.feature-title {
    background-color: @red;
    height: 120px;

    .feature-title-inner{
        padding: 5%;
        color: white;
        font-size: 3rem;
        font-weight: 700;
        text-align: center;

        .job-title{
            font-size: 2rem;
            font-weight: 400;
        }
    }
}

.dev-icons{
    margin-top: 1%;
    font-size: 2rem;
    display: flex;
    justify-content: center;

    a{
        color: @white;
    }
   
    a:hover{

        color: @dkblue;
    }
}

.about-wrapper
{
   
    h1{
        color: @orange;
        padding: 3% 20% 1% 20%;
    }
    p{
        padding: 0 20% 3% 20%;
    }
}