// ** driver Page ** //
.driver-hero-wrapper {
    background-image:~"url('../images/african-driver.jpg')";
    // background-repeat: no-repeat;
    // background-position: left top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 5%;
    display: flex;
    flex-direction: column;
    height: 800px;

    @media @phone {
      .driver-hero-text {
          margin-top: 15%;
          display: block;
          width: 100%;
          text-align: center;
      }
    }

  .driver-mobile-background {
    display: none;
  }

    @media @phone {
      background-image: none;
    }
}

  @media @phone {
    .driver-hero-wrapper .driver-mobile-background {
        display: flex;
        width: 100%;
        margin-top: 10%;
    }
  }

.hero-text-driver {
      
    direction: flex;
    width: 50%;
    background-color: white;
    height: 600px; 
    margin-top: 20px;
    padding: 3%;

    @media @tablet {
      width: 90%;
    }
    @media @phone {
      width: 100%;
      margin-top: 20%;
      text-align: center;
    }

    h1{
        color: @red;
    }

    h2{
      font-weight: 400;
      color: @slate;
    }
}

button {
  .button-red
}
button:hover {
  
  background-color: @dkblue;
  color: @white;

}

.slate-button {
  float: right;
.button-slate

}

.slate-button:hover {
  
background-color: @red;
color: @white;

}

.driver-heading-1 {
  h1 {
    color: @red;
    margin: 2% 5%;
    
    @media @phone {
      margin-top: 40%;
      text-align: center;
      color: @dkblue;
    }
  }

}

.driver-top-parent {
  display: flex;
  justify-content: space-around;
  height: 350px;

  @media @phone {
    flex-direction: column-reverse;
    margin-top: 8%;
  }
    
  .driver-top-text {
    color: white;
    border-radius: 15px;
    max-width: 350px;
    max-height: 350px;
    background-color: @slate;

    @media @tablet {
      height: 75%;
      width: 40%;
    }
    @media @phone {
      max-width: 500px;
      background-color: @red;
      width: 100%;
    }

    p {
      font-size: 1.8rem;
      padding: 7%;
    
      @media @tablet {
        font-size: 1.3rem;
      }
      @media @phone {
        font-size: 1.8rem;
      }
    }
  }

  .driver-top-img {
      
    img {
      border-radius: 15px;
      display: block;
      max-width: 100%;
      max-height: 100%;
      //min-height: 60%; 
      //min-width: 60%;
      width: auto;
      height: auto;
    
      @media @tablet {
        max-width: 100%;
        max-height: 75%;
      }
    
      @media @phone {
      display: none;
    }
    }
  }
}

.driver-bottom-section {
  background-color: @red;

  @media @tablet {
    margin-top: -12%;
  }
  @media @phone {
    background-color: @white;
  }

  .driver-heading-2 {
    
    h1 {
      color: white;
      margin: 2% 5%; 
      padding-top: 3%;
    
      @media @phone {
        color: @dkblue;
        text-align: center;
        padding: 0;
        margin-top: -5%;
      }
    } 
  }
}

.driver-bottom-parent {
  display: flex; 
  justify-content: space-around;
  width: 100%;
    @media @phone {
      flex-direction: column-reverse;
    }

  .driver-bottom-text {
    width: 50%;
    margin-top: 5%;

    @media @tablet {
      margin-top: 0;
    }
    @media @phone {
      width: 100%;
      background-color: red;
      border-radius: 15px;
      margin: 15% 0;
      padding: 6% 0;
    }
        
    p {
      color: white;
      margin: 0 7%;
      font-size: 1.6rem;
    
      @media @tablet {
        font-size: 1.3rem;        
      }
      @media @phone {
        font-size: 1.8rem;
      }
    }
  }

  .driver-bottom-img {
    
    img {
      border-radius: 15px;
      display: block;
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
      border-radius: 15px;
      
      @media @tablet {
        max-width: 100%;
        max-height: 100%;
        float: right;
      }
      
      @media @phone {
        width: 100%;
        margin-top: 8%;      
      }
    }
  }
}

