footer {
  background-color: @dkblue;
  border-top: 2px solid white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 400px;

    @media @phone {
      display: flex;
      flex-direction: column;
    }
    
  .contact-text {
    color: @white;
    width: 30%;
    padding: 5%;
  
    p {
      font-size: 2rem;
      @media @phone{
        font-size: 1.5rem;
      }
    }
  }
  
  .contact-img {
    width: 30%;

    img {
      margin: 10% 20% 0 0;
    }
  }

  .contact-icons {
    width: 30%;
    margin-top: 3%;

    i {
      font-size: 3rem;
      color: white;
      margin: 15% 4%;
      padding: 1%;
    }
  }
}

.footer-link {
  display: block;
  width: 100%;
  text-align: center;
  margin: 2% 0;
  
  a {
    text-decoration: none;
    color: @dkblue;
    font-size: 2rem;
    padding: 0 8.5%;
  }
    
    a:visited {
      color: @dkblue;
    }
    a:hover {
      color: @red;
    }

  #copyright {
      color: @red;
      //display: flex;
      //justify-content: center;
      //align-items: middle;
      font-size: 2rem;
      //border: 2px solid black;
      width: 100%;
      text-align: center;
      
    }
  }
