footer {
    background-color: @dkblue;
    border-top: 2px solid white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 300px;
    
    .contact-text {
      color: @white;
      width: 30%;
      padding: 3% 5%;
    
      p {
        font-size: 2rem;
      }
    }
  
    .contact-img {
      width: 30%;
  
      img {
        margin: 10% 20% 0 0;
      }
    }
  
    .contact-icons {
      width: 30%;
  
      i {
        font-size: 3rem;
        color: white;
        margin: 15% 5%;
        padding: 2%;
      }
    }
  }
  