.footer-content-wrapper {
  background-color: @dkblue;
  border-top: 2px solid white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 250px;
  

    @media @phone {
      display: flex;
      flex-direction: column;
    }
    
    #footer-left{
  
    color: @white;
    width: 30%;
    padding: 3% 5%;

  
  
    p {
      font-size: 1.6rem;
      @media @phone{
        font-size: 1.3rem;
      }
    
  }
}

#footer-middle{
  width: 20%;
  padding: 1%;

}
 
    

#footer-right{
  padding: 5%;
  display: flex;
flex-direction: row;
justify-content: space-evenly;
width: 50%;
text-align: center;
  
  a{
    display: flex;
  color: white;
  text-decoration: none;
  padding: 5%;
  line-height: 1.5;
  font-size: 1.5rem;
}
a:hover{
  color: @orange;
}



.footer-link-mid{
  width: 30%;
}

}

#social-copyright{
  .contact-icons {
    width: 30%;
    margin-top: 3%;

    i {
      font-size: 3rem;
      color: white;
      margin: 15% 4%;
      padding: 1%;
    }
  }
}
.footer-link-right{
  width: 35%;
}
// #footer-middle{
 
// }

div.contact-img{
  width: 60%;
    margin-bottom: 20px;
}
}

.bottom{
  background-color: @dkblue;
    display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  width: 100%;
  text-align: center;



  #social-copyright{
    width: 100%;
    display: flex;
    align-items: center;


  .contact-icons{
    color: white;
    font-size: 2rem;
    flex-direction: row;
    justify-content: space-evenly;
    width: 50%;

    i{
      padding: 5%;
      text-align: center;
      font-size: 3rem;
    }
  }
  .copyright{
    display: flex;
    color: white;


    h6{

      font-size: 1.5rem;
    }


  #copyright {
      color: @red;
      //display: flex;
      //justify-content: center;
      //align-items: middle;
      font-size: 2rem;
      //border: 2px solid black;
      width: 100%;
      text-align: center;
      
    }
  }
}
}