.hero {
  background-image: linear-gradient(to top, rgba(114, 115, 116, 0.475), rgb(255, 255, 255)), url("/images/dirtroad2.jpg");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-attachment: fixed;
  padding: 5%;
  display: flex;
  flex-direction: column;
  height: 600px;
}