.hero {
  background-image: linear-gradient(to top, rgba(114, 115, 116, 0.475), rgb(255, 255, 255)), ~"url('../images/dirtroad2.jpg')";
  background-repeat: no-repeat;
  background-position: left center;
  background-attachment: fixed;
  padding: 5%;
  display: flex;
  flex-direction: column;
  height: 600px;
}

.what-is-content {
  text-align: center;
  margin: 0 3%;

  h1 {
    margin: 5% 3% 2% 3%;
    color: @font-color;
  }
}

.what-is-flex-parent{
  display: flex;
  justify-content: space-around;
  margin: 5% 3% 2% 3%;

  @media @phone {
    flex-direction: column;
    width: 90%;
}
  
  .responsive {
    width: 30%; 

    @media @phone {
      flex-direction: column;
      width: 100%;
  }

    h2 {
      text-align: center;
      margin-bottom: 3%;
      color: @header;
    }

    p {
      text-align: center;
    }
  }

  .safe {
    width: 30%;
    height: 100%;

    @media @phone {
      flex-direction: column;
      width: 100%;
  }

    h2 {
      text-align: center;
      margin-bottom: 3%;
      color: @header;
    }

    p {
      text-align: center;
    }
  }

  .easy {
    width: 30%;

    @media @phone {
      flex-direction: column;
      width: 100%;
  }

    h2 {
      text-align: center;
      margin-bottom: 3%;
      color: @header;
    }

    p {
      text-align: center;
    }
  }
}

#what-images {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
  img {
    width: 25%;
    border-radius: 10px;
  }
}

.signup-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5% 0 0 0;

  @media @phone {
    flex-direction: column;
    width: 100%;
}

  .driver {
    width: 50%;
    background-color: @red;
    color: white;
    font-weight: 700;
    height: 275px;
    text-align: center;
    padding: 2% 0;
    border-right: 2px solid @white;

    @media @phone {
      flex-direction: column;
      width: 100%;
      border-bottom: 2px solid @white;
      border-right: none;
  }

    h2 {
      margin-bottom: 2%;
    }

    p {
      font-weight: 400;
      font-size: 1.8rem;
    }


    button {
      .button-white;
      padding: 3%;
      width: 40%;
      vertical-align: middle;
      text-align: center;
      line-height: 5px;
    
     
    }
    button:hover {
    
      background-color: @dkblue;
      color: @white;
    
  }

    h2 {
      text-align: center;
    }
  }

  .rider {
    padding: 2% 0;
    width: 50%;
    background-color: @orange;
    color: white;
    font-weight: 700;
    height: 275px;
    text-align: center;

    @media @phone {
      flex-direction: column;
      width: 100%;
  }

    h2 {
      margin-bottom: 2%;
    }

    p {
      font-weight: 400;
      font-size: 1.8rem;
    }

    button {
      .button-white;
      padding: 3%;
      width: 40%;
      vertical-align: middle;
      text-align: center;
      line-height: 5px;

    }
    button:hover {
    
      background-color: @dkblue;
      color: @white;
    
  }

    h2 {
      text-align: center;
    }

    
  }
}

