.header-wrapper {
    background-color: @cream;   
    position: fixed;
    width: 100%; 

    @media @phone {
        display: flex;
        img {
            width: 50%;
        }
    }
   
   
    header {
        // .margin(100%, 90%;
        height: 80px;
        .displayflex(space-between, center);
        z-index: 10;

        @media @phone {
            height: 100 px;
        }
        
            .nav-wrapper {
                overflow: hidden;
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 95%;
                color: @dkblue;
                text-decoration: none;
                height: 80px;
     
           @media @phone {
                display: flex;
                flex-direction: row;
                align-items: center;
                align-content: center;
                }
               
                
                .main-nav {
                    width: 50%;
                }

                ul#myLinks {
                    display: flex;
                    justify-content: space-around;
                    width: 100%;
                    color: @dkblue;

                    @media @phone {
                        flex-direction: column;
                        width: 100%;
                      
                    }
                    
                     a { font-weight: 600;
                     font-size: 1.8rem;
                     }
                        a:visited {
                            color: @dkblue;
                        }
                        a:hover {
                            color: @red;
                        }
                }


                @media @phone {
                    // flex-direction: column
                   
                }
            
                a {
                    text-decoration: none;
                    justify-content: space-around;
                    font-size: 1.5rem;
                }
        }
    }
}

// .navigation {
//     display: hidden;
// }

@media(max-width: 768px) {
    .main-nav{
        display: none;
    }
    .main-nav.toggleCls{
      display: block;
  }
}

@media(min-width: 769px){
    .hamIcon{
        display: none;
    }
    .main-nav{
        display: initial;
    }
}