// ** Rider Page ** //
.rider-hero-wrapper {
    background-image:url("/images/african-woman.jpg");
    background-repeat: no-repeat;
    background-position: left top;
    padding: 5%;
    display: flex;
    flex-direction: column;
    height: 800px;
    
}
  .hero-text {
      
      direction: flex;
      width: 45%;
      background-color: white;
      height: 600px; 
      margin-top: 20px;
      padding: 3%;

      h1{
          color: @orange;
      }
      h2{
        font-weight: 400;
        color: @slate;
      }
  }

  button {
    .button-orange
  }
  button:hover {
    
    background-color: @dkblue;
    color: @white;
  
}

.slate-button {
  .button-slate
  
}

.slate-button:hover {
    
  background-color: @orange;
  color: @white;

}


// .hero-image img {
//     margin-top: 75px;
// }